# Intro

This file is meant to practice all sorts of Pandas data munging including:

    1) Aggregations by group
        - single agg function
        - multiple agg functions in one line
        - custom agg function
    2) Merge/joins
        - standard inner, outer, left, right on columns
        - standard joins using subset of row indices
        - standard joins using combo of row indices and columns
    3) Pivot tables
    4) Reindexing
        - date/time fill in
        - ffill/bfill
    5) Dates
        - convert string column to proper datetime

# Notes
#### Quantile cuts
pd.qcut(x=myseries,q=[quantile1,... quantilen],labels=['label1',...,'labeln-1'])
#### Value counts (results are ordered by descending count, index is value and column is count)
myseries.value_counts()
#### Extract values from series at specific indices in list
myseries.take(list_of_positions)
#### Get positions (not necessarily index values) of entries in series meeting some condition
np.argwhere([x == whatever for x in myseries])
#### Apply function to each element in a series
myseries.map(lambda x: somefunc(x))
#### Create one hot encoding schema for a column
pd.get_dummies(myseries)

In [1]:
# Import Pandas and Numpy
import pandas as pd
import numpy as np

## Set One

In [5]:
# Create some data.
nrows, ngroups = 100, 5
states = list(zip(['AR','AK','AZ','CT','DE','CA','FL'],['E','W','W','E','E','W','E']))
df1 = pd.DataFrame({'id': list(range(1,nrows+1)),
                    'state': np.random.choice([state for state, _ in states], nrows),
                    'gender': np.random.choice(['m','f'], nrows),
                    'value': np.random.uniform(0,100,nrows)})
df2 = pd.DataFrame.from_records(states, columns=['state','region'])

In [3]:
df1.head()

   id state gender      value
0   1    AZ      m  38.929425
1   2    AZ      m   4.782645
2   3    FL      m  44.251238
3   4    CT      f  59.987937
4   5    AZ      f  70.298703

In [4]:
df2.head()

  state region
0    AR      E
1    AK      W
2    AZ      W
3    CT      E
4    DE      E

In [12]:
# Question 1: What is the average value per state?
average_per_state = df1.groupby(['state'])['value'].agg(np.mean)
average_per_state.name = "average"
average_per_state

state
AK    47.894300
AR    54.752256
AZ    35.469951
CA    42.661535
CT    42.451265
DE    45.342190
FL    36.157608
Name: average, dtype: float64

In [14]:
# Question 2: What is the sd of value per state?
sd_per_state = df1.groupby(['state'])['value'].agg(np.std)
sd_per_state.name = "standard_deviation"
sd_per_state

state
AK    33.117319
AR    28.983420
AZ    20.821954
CA    30.459152
CT    32.669256
DE    27.032222
FL    32.130425
Name: standard_deviation, dtype: float64

In [15]:
# Combine the two results into a single dataframe.
results = pd.concat([average_per_state, sd_per_state], axis=1)
results

         average  standard_deviation
state
AK     47.894300           33.117319
AR     54.752256           28.983420
AZ     35.469951           20.821954
CA     42.661535           30.459152
CT     42.451265           32.669256
DE     45.342190           27.032222
FL     36.157608           32.130425

In [17]:
# Do the same thing as above but in one pass.
results = df1.groupby(['state']).agg(average=('value',np.mean),standard_deviation=('value',np.std))
results

         average  standard_deviation
state
AK     47.894300           33.117319
AR     54.752256           28.983420
AZ     35.469951           20.821954
CA     42.661535           30.459152
CT     42.451265           32.669256
DE     45.342190           27.032222
FL     36.157608           32.130425